.who-we-are-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.who-we-are-who-we-are {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}

.who-we-are-group25 {
  top: 0px;
  left: 0px;
  width: 500px;
  height: 62px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}

.who-we-are-frame35276 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 500px;
  height: 63px;
  display: flex;
  padding: 15.628942489624023px 240.94619750976562px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primaty-greylight);
}

.who-we-are-frame9 {
  gap: 19.536178588867188px;
  width: 729.745849609375px;
  height: 30.606679916381836px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.who-we-are-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 17px;
  font-style: Bold;
  text-align: left;
  font-family: Dela Gothic One;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}

.who-we-are-vector1 {
  width: 0px;
  height: 11px;
}

.who-we-are-text02 {
  color: var(--dl-color-primaty-greydark);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}

.who-we-are-text04 {
  color: var(--dl-color-primaty-black);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}

.who-we-are-text06 {
  color: var(--dl-color-primaty-greydark);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}

.who-we-are-frame3 {
  display: flex;
  align-items: center;
}

.who-we-are-text07 {
  color: var(--dl-color-primaty-greydark);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}

.who-we-are-frame7 {
  gap: 19.536178588867188px;
  top: 17.03721809387207px;
  left: 935.18798828125px;
  width: 55.73818588256836px;
  height: 28.295578002929688px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}

.who-we-are-frame2 {
  gap: 12.372913360595703px;
  width: 75.65306091308594px;
  display: flex;
  padding: 9.116883277893066px 14.326531410217285px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 65.12059783935547px;
  justify-content: center;
  background-color: var(--dl-color-primaty-cyanlight);
}

.who-we-are-text08 {
  color: rgba(43, 120, 139, 1);
  height: auto;
  font-size: 10.419295310974121px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}

.who-we-are-frame21 {
  gap: 12.372913360595703px;
  display: flex;
  padding: 9.116883277893066px 14.326531410217285px;
  align-items: center;
  border-radius: 65.12059783935547px;
  justify-content: center;
  background-color: var(--dl-color-primaty-cyanlight);
}

.who-we-are-text10 {
  color: rgba(20, 101, 120, 1);
  height: auto;
  font-size: 10.419295310974121px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}

.who-we-are-frame35272 {
  gap: 19.536178588867188px;
  top: 17.03721809387207px;
  left: 1014.048095703125px;
  width: 66.79914093017578px;
  height: 28.295578002929688px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}

.who-we-are-frame35 {
  gap: 28.95493507385254px;
  width: 400px;
  height: 971px;
  display: flex;
  padding: 0 382.20513916015625px 72.38733673095703px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  padding-bottom: 0 382.20513916015625px 72.38733673095703px;
  justify-content: center;
  background-color: var(--dl-color-primaty-greylight);
}

.who-we-are-frame35280 {
  gap: 10px;
  right: 284px;
  width: 40px;
  padding: 0 3.20513916015625px 72.38733673095703px;
  height: 166px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.who-we-are-frame39 {
  gap: 21.716201782226562px;
  top: -1px;
  left: 15px;
  width: 579px;
  height: 174px;
  display: flex;
  padding: 29px 28.95493507385254px 28.95493507385254px;
  position: absolute;
  box-shadow: 0px 16.575345993041992px 33.150691986083984px -8.287672996520996px rgba(52, 41, 39, 0.07999999821186066);
  align-items: center;
  flex-shrink: 0;
  border-radius: 10.134227752685547px;
  background-color: rgba(255, 255, 255, 1);
}

.who-we-are-image54 {
  width: 145px;
  height: 145px;
}

.who-we-are-container1 {
  flex: 0 0 auto;
  right: 0px;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.who-we-are-container2 {
  flex: 0 0 auto;
  width: 354.5992431640625px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.who-we-are-frame20 {
  gap: 50px;
  width: 400px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.who-we-are-text12 {
  top: -17px;
  left: -2px;
  color: var(--dl-color-primaty-greydark);
  width: 355px;
  height: auto;
  z-index: 1;
  position: absolute;
  font-size: 11.582px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 140%;
  font-stretch: normal;
  text-decoration: none;
}

.who-we-are-text13 {
  top: -45px;
  left: 0px;
  color: var(--dl-color-primaty-black);
  height: auto;
  z-index: 2;
  position: absolute;
  font-size: 23.16394805908203px;
  font-style: Regular;
  text-align: left;
  font-family: Dela Gothic One;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}

.who-we-are-frame40 {
  gap: 7.238733768463135px;
  top: 141px;
  left: 194px;
  width: 238px;
  display: flex;
  padding: 2.895493507385254px 5.790987014770508px;
  position: absolute;
  align-items: flex-start;
  border-radius: 4.343240261077881px;
  background-color: rgb(8, 56, 62);
}

.who-we-are-text15 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 8.686480522155762px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}

.who-we-are-frame401 {
  gap: 21.716201782226562px;
  width: 520.0986938476562px;
  height: 202.68453979492188px;
  display: flex;
  padding: 28.95493507385254px;
  z-index: 1;
  position: relative;
  box-shadow: 0px 16.575345993041992px 33.150691986083984px -8.287672996520996px rgba(52, 41, 39, 0.07999999821186066);
  align-items: center;
  flex-shrink: 0;
  border-radius: 10.134227752685547px;
  background-color: rgba(255, 255, 255, 1);
}

.who-we-are-image541 {
  top: 28.95493507385254px;
  left: 28.95493507385254px;
  width: 145px;
  height: 145px;
  position: absolute;
}

.who-we-are-frame201 {
  gap: 28.95493507385254px;
  top: 68.77515411376953px;
  left: 195.44581604003906px;
  width: 355px;
  display: flex;
  position: absolute;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.who-we-are-frame18 {
  gap: 10.134227752685547px;
  top: 118px;
  left: 195px;
  width: 355px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.who-we-are-text17 {
  top: -34px;
  color: var(--dl-color-primaty-greydark);
  right: -11px;
  height: auto;
  position: absolute;
  font-size: 11.581974029541016px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}

.who-we-are-frame23 {
  gap: 10.134227752685547px;
  top: 46px;
  left: 195px;
  width: 408px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.who-we-are-text19 {
  top: 11px;
  color: var(--dl-color-primaty-black);
  height: auto;
  position: absolute;
  font-size: 23.16394805908203px;
  font-style: Regular;
  text-align: left;
  font-family: Dela Gothic One;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}

.who-we-are-frame402 {
  gap: 7.238733768463135px;
  top: 141px;
  left: 194px;
  width: 238px;
  display: flex;
  padding: 2.895493507385254px 5.790987014770508px;
  position: absolute;
  align-items: flex-start;
  border-radius: 4.343240261077881px;
  background-color: rgb(8, 56, 62);
}

.who-we-are-text21 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 8.686480522155762px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}

.who-we-are-frame41 {
  gap: 21.716201782226562px;
  width: 520.0986938476562px;
  display: flex;
  padding: 28.95493507385254px;
  z-index: 2;
  position: relative;
  box-shadow: 0px 16.575345993041992px 33.150691986083984px -8.287672996520996px rgba(52, 41, 39, 0.07999999821186066);
  align-items: center;
  flex-shrink: 0;
  border-radius: 10.134227752685547px;
  background-color: rgba(255, 255, 255, 1);
}

.who-we-are-image542 {
  width: 145px;
  height: 145px;
}

.who-we-are-container3 {
  flex: 0 0 auto;
  width: 354.69793701171875px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.who-we-are-frame202 {
  gap: 28.95493507385254px;
  width: 354.69793701171875px;
  display: flex;
  z-index: 1;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.who-we-are-frame231 {
  gap: 10.134227752685547px;
  width: 408.26458740234375px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.who-we-are-text23 {
  top: -42px;
  color: var(--dl-color-primaty-black);
  height: auto;
  z-index: 1;
  position: absolute;
  font-size: 23.16394805908203px;
  font-style: Regular;
  text-align: left;
  font-family: Dela Gothic One;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}

.who-we-are-frame181 {
  gap: 10.134227752685547px;
  display: flex;
  z-index: 2;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.who-we-are-text25 {
  top: -32px;
  left: 0px;
  color: var(--dl-color-primaty-greydark);
  width: 355px;
  height: auto;
  position: absolute;
  font-size: 11.581974029541016px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}

.who-we-are-frame403 {
  gap: 7.238733768463135px;
  top: 141px;
  left: 194px;
  width: 238px;
  display: flex;
  padding: 2.895493507385254px 5.790987014770508px;
  position: absolute;
  align-items: flex-start;
  border-radius: 4.343240261077881px;
  background-color: rgb(8, 56, 62);
}

.who-we-are-text27 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 8.686480522155762px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}

.who-we-are-frame411 {
  gap: 21.716201782226562px;
  width: 520.0986938476562px;
  display: flex;
  padding: 29px 28.95493507385254px 28.95493507385254px;
  z-index: 3;
  position: relative;
  box-shadow: 0px 16.575345993041992px 33.150691986083984px -8.287672996520996px rgba(52, 41, 39, 0.07999999821186066);
  align-items: center;
  flex-shrink: 0;
  border-radius: 10.134227752685547px;
  background-color: rgba(255, 255, 255, 1);
}

.who-we-are-image55 {
  width: 145px;
  height: 145px;
}

.who-we-are-text29 {
  top: 60.000244140625px;
  left: 195px;
  color: var(--dl-color-primaty-black);
  height: auto;
  z-index: 1;
  position: absolute;
  font-size: 23.16394805908203px;
  font-style: Regular;
  text-align: left;
  font-family: Dela Gothic One;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}

.who-we-are-container4 {
  flex: 0 0 auto;
  width: 354.69793701171875px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.who-we-are-frame203 {
  gap: 28.95493507385254px;
  width: 354.69793701171875px;
  display: flex;
  z-index: 2;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.who-we-are-frame182 {
  gap: 10.134227752685547px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.who-we-are-frame232 {
  gap: 10.134227752685547px;
  width: 408.26458740234375px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.who-we-are-text31 {
  color: var(--dl-color-primaty-greydark);
  height: auto;
  font-size: 11.581974029541016px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}

.who-we-are-frame352721 {
  gap: 7.238733768463135px;
  display: flex;
  padding: 2.895493507385254px 5.790987014770508px;
  z-index: 3;
  align-items: flex-start;
  border-radius: 4.343240261077881px;
  background-color: rgb(8, 56, 62);
}

.who-we-are-text33 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 8.686480522155762px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}