.thumbnail-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.thumbnail-thumbnail {
  width: 100%;
  height: 960px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.thumbnail-frame4 {
  gap: 56.7679328918457px;
  top: 202.56472778320312px;
  left: 248.01712036132812px;
  width: 638px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.thumbnail-frame41 {
  gap: 42.575950622558594px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.thumbnail-frame42 {
  gap: 28.38396644592285px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.thumbnail-text {
  color: rgba(43, 120, 139, 1);
  height: auto;
  font-size: 19.868776321411133px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.thumbnail-frame5 {
  gap: 42.575950622558594px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.thumbnail-text02 {
  color: rgba(0, 0, 0, 1);
  width: 638px;
  height: auto;
  font-size: 73.24104309082031px;
  font-style: Regular;
  text-align: left;
  font-family: Dela Gothic One;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.thumbnail-text04 {
  color: rgba(88, 88, 88, 1);
  width: 462px;
  height: auto;
  font-size: 22.70717430114746px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.thumbnail-frame7 {
  gap: 29.803165435791016px;
  display: flex;
  align-items: center;
}
.thumbnail-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 19.868776321411133px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.thumbnail-frame2 {
  gap: 14.191983222961426px;
  height: 51.091148376464844px;
  display: flex;
  padding: 5.676793575286865px 25.545570373535156px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 17.030380249023438px;
  justify-content: center;
  background-color: rgba(195, 220, 227, 1);
}
.thumbnail-text08 {
  color: rgba(43, 120, 139, 1);
  height: auto;
  font-size: 19.868776321411133px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.thumbnail-frame8 {
  gap: 56.7679328918457px;
  display: flex;
  align-items: center;
}
.thumbnail-frame3 {
  gap: 2.8383967876434326px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.thumbnail-frame31 {
  width: 184px;
  height: 36px;
}
.thumbnail-text10 {
  color: rgba(88, 88, 88, 1);
  height: auto;
  font-size: 19.868776321411133px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.thumbnail-vector1 {
  width: 0px;
  height: 57px;
}
.thumbnail-frame32 {
  gap: 2.8383967876434326px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.thumbnail-frame81 {
  width: 217px;
  height: 38px;
}
.thumbnail-text12 {
  color: rgba(88, 88, 88, 1);
  height: auto;
  font-size: 19.868776321411133px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.thumbnail-frame82 {
  gap: 384.10369873046875px;
  top: 79.55731964111328px;
  left: 242px;
  width: 1416px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.thumbnail-frame51 {
  gap: 34.060760498046875px;
  display: flex;
  align-items: center;
}
.thumbnail-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24.34801483154297px;
  font-style: Regular;
  text-align: left;
  font-family: Dela Gothic One;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.thumbnail-vector11 {
  width: 0px;
  height: 20px;
}
.thumbnail-text16 {
  color: rgba(88, 88, 88, 1);
  height: auto;
  font-size: 19.868776321411133px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.thumbnail-text18 {
  color: rgba(88, 88, 88, 1);
  height: auto;
  font-size: 19.868776321411133px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.thumbnail-text20 {
  color: rgba(88, 88, 88, 1);
  height: auto;
  font-size: 19.868776321411133px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.thumbnail-frame33 {
  display: flex;
  align-items: center;
}
.thumbnail-text22 {
  color: rgba(88, 88, 88, 1);
  height: auto;
  font-size: 19.868776321411133px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.thumbnail-frame83 {
  width: 17px;
  height: 17px;
}
.thumbnail-frame71 {
  gap: 29.803165435791016px;
  display: flex;
  align-items: center;
}
.thumbnail-text24 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 19.868776321411133px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.thumbnail-frame21 {
  gap: 14.191983222961426px;
  display: flex;
  padding: 15.611181259155273px 25.545570373535156px;
  align-items: flex-start;
  border-radius: 17.030380249023438px;
  background-color: rgba(43, 120, 139, 1);
}
.thumbnail-text26 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 19.868776321411133px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.thumbnail-image6 {
  top: 373.97869873046875px;
  left: 912.437255859375px;
  width: 175px;
  height: 209px;
  position: absolute;
}
.thumbnail-casuallife3dboysittingatthedeskwithopenbook9 {
  top: 180.96798706054688px;
  left: 980.9833984375px;
  width: 745px;
  height: 621px;
  position: absolute;
}
.thumbnail-image12 {
  top: 181.3436279296875px;
  left: 1378.077880859375px;
  width: 459px;
  height: 699px;
  position: absolute;
}
